In [3]:
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile

df = pd.read_excel('TMA08-035 EPICOLON II 8.xls', sheetname='PLANTILLA', skiprows=5, header = None)
df.drop(df.columns[[0,6]], axis=1, inplace = True)

/home/auri/anaconda3/lib/python3.6/site-packages/pandas/io/excel.py:329: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  **kwds)

In [2]:
df

,1,2,3,4,5,7,8,9,10,11
0,E00222,E01463,E01464,E01982,E05605,E00222,E01463,E01464,E01982,E05605
1,E01984,E02002,E02243,E02443,E05606,E01984,E02002,E02243,E02443,E05606
2,E02444,E05387,E05450,E05451,E05607,E02444,E05387,E05450,E05451,E05607
3,E05462,E00386,E05467,E05562,E05608,E05462,E00386,E05467,E05562,E05608
4,E05563,E05564,E05565,E05566,E05609,E05563,E05564,E05565,E05566,E05609
5,E05568,E05602,E05603,E05604,E05610,E05568,E05602,E05603,E05604,E05610

In [3]:
df.shape

(6, 10)

In [333]:
path = "DTS2019/PLANTILLAS/"
TMA = 'TMA14-006.xls'

In [344]:
df = pd.read_excel(path + TMA, sheetname='PLANTILLA', skiprows=6, header = None)

/home/auri/anaconda3/lib/python3.6/site-packages/pandas/io/excel.py:329: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  **kwds)

In [345]:
df.drop(df.columns[[0,1,6,7]], axis=1, inplace = True)

In [346]:
df.shape

(8, 8)

In [347]:
df

,2,3,4,5,8,9,10,11
0,06-5803-11,06-5879-15,06-5884-1,06-6340-14,06-5803-11,06-5879-15,06-5884-1,06-6340-14
1,06-6798-6,06-9873-18,06-9926-8,06-10175-20,06-6798-6,06-9873-18,06-9926-8,06-10175-20
2,06-10268-11,06-10993-1,06-11839-5,06-12247-4,06-10268-11,06-10993-1,06-11839-5,06-12247-4
3,06-12585-6,06-12713-19,06-12748-5,06-13094-4,06-12585-6,06-12713-19,06-12748-5,06-13094-4
4,06-13251-4,06-13666-3,06-14108-5,06-14535-9,06-13251-4,06-13666-3,06-14108-5,06-14535-9
5,06-14535-5,06-15750-2,06-15822-9,07-1268-B,06-14535-5,06-15750-2,06-15822-9,07-1268-B
6,07-3015-8,07-3277-6,07-3553-3,07-960-13,07-3015-8,07-3277-6,07-3553-3,07-960-13
7,NaN,NaN,NaN,07-10250-1,NaN,NaN,NaN,07-10250-1

In [348]:
s = df.T.reset_index().reindex(columns=[1,0,'index'])

In [349]:
s = df.T

In [350]:
s = df.T.reset_index().reindex(columns=[7,6,5,4,3,2,1,0,'index'])
s

,7,6,5,4,3,2,1,0,index
0,NaN,07-3015-8,06-14535-5,06-13251-4,06-12585-6,06-10268-11,06-6798-6,06-5803-11,2
1,NaN,07-3277-6,06-15750-2,06-13666-3,06-12713-19,06-10993-1,06-9873-18,06-5879-15,3
2,NaN,07-3553-3,06-15822-9,06-14108-5,06-12748-5,06-11839-5,06-9926-8,06-5884-1,4
3,07-10250-1,07-960-13,07-1268-B,06-14535-9,06-13094-4,06-12247-4,06-10175-20,06-6340-14,5
4,NaN,07-3015-8,06-14535-5,06-13251-4,06-12585-6,06-10268-11,06-6798-6,06-5803-11,8
5,NaN,07-3277-6,06-15750-2,06-13666-3,06-12713-19,06-10993-1,06-9873-18,06-5879-15,9
6,NaN,07-3553-3,06-15822-9,06-14108-5,06-12748-5,06-11839-5,06-9926-8,06-5884-1,10
7,07-10250-1,07-960-13,07-1268-B,06-14535-9,06-13094-4,06-12247-4,06-10175-20,06-6340-14,11

In [351]:
s.to_csv('_' + TMA)